.form-control {
  width: 200px !important;
}

.content {
  min-height: 518px;
}

.page-footer {
  background-color: #222;
  border-color: #080808;
  height: 50px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #9d9d9d;
}